html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:target:before {
  content: "";
  display: block;
  height: 120px;
  margin: -120px 0 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  @extend %font-primary;
  color: #333333;
}
