/* Rules for sizing the icon. */
.material-icons-round.md-18 {
  font-size: 18px;
}
.material-icons-round.md-24 {
  font-size: 24px;
}
.material-icons-round.md-36 {
  font-size: 36px;
}
.material-icons-round.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons-round.md-dark {
  color: hsla(0, 0%, 0%, 0.54);
}
.material-icons-round.md-dark.md-inactive {
  color: hsla(0, 0%, 0%, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons-round.md-light {
  color: hsl(0, 0%, 100%);
}
.material-icons-round.md-light.md-inactive {
  color: hsla(0, 0%, 100%, 0.3);
}

// SECTION ICONS

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 67px;
  height: 67px;
  border-radius: 16px;
  color: white;

  &_green {
    background-color: #27ae60;
  }

  &_blue {
    background-color: #2d9cdb;
  }

  &_red {
    background-color: #eb5757;
  }
}
