$color-primary: hsl(0, 0%, 20%);
$color-additional: hsl(0, 0%, 31%);
$color-accent-primary: hsl(202, 71%, 52%);
$color-accent-secondary: hsl(0, 79%, 63%);

$color-green: hsl(145, 63%, 42%);
$color-gray: hsl(0, 0%, 51%);

$color-background: hsl(0, 0%, 95%);
$color-background-dark: hsl(0, 0%, 88%);
$color-background-darker: hsl(248, 35%, 8%);

$font-primary: "Poppins", sans-serif;
$font-logo: "Heebo", sans-serif;
$font-footer: "Montserrat", sans-serif;
