.articles {
  padding: 100px 0;

  &__header {
    padding: 0 35px;
    padding-bottom: 12px;
  }

  &__link {
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 36px 0;

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: hsl(202, 71%, 52%);

      &:hover,
      &:focus {
        outline: none;
        color: hsl(202, 71%, 32%);
        span {
          transition: all 0.25s ease-in-out;
          transform: none;
        }
      }
    }

    span {
      margin-left: 8px;
      transform: translateX(-2px);
    }
  }

  @include media-laptop {
    &__header {
      padding: 0;
      padding-bottom: 12px;
      width: 40%;
    }

    &__link {
      display: flex;
      align-items: center;
      text-decoration: none;
      justify-content: flex-end;
      transform: translateY(-40px);
      width: 100%;
      margin: 0;
    }
  }
}
