.testimony {
  padding-bottom: 100px;

  @include media-laptop {
    padding: 0 165px 100px 165px;
    width: 88%;
  }
}

.testimony-card {
  display: flex;
  padding-top: 27px;
  &__image {
    width: 82px;
    border-radius: 15px;
  }
  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
  }
  &__position {
    color: #828282;
  }
}
